* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
  align-content: center;
  align-items: center;
}